@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-image: url('./bg.jpg');
	font-family: 'Poppins', sans-serif;
}
